* {
	font-family: "Garamond";
	color: White;
	background-color: hsl(322, 21%, 80%);
}

a {
	color: hsl(322, 21%, 20%);
	text-decoration: none;
}

a:hover {
	color: hsl(322, 21%, 60%);
}

a:visited {
	color: hsl(322, 21%, 80%);
}

li {

}

#dotm {
	font-family: inherit;
}
